input{
	
	display: block;
	height: 25px;
	width: 300px;
	padding: 0px 5px;
	margin: 10px 0px;
	border-radius: 10px;
	font-size: 15px;
}
form{
	display: inline-block;
	margin: auto;
}

select{
	padding: 5px;
	height: 25px;
	width: 300px;
	margin: 10px 0px;
	margin-right: 5px;
	border: 1px solid #777;

}

form{
	border-bottom: 2px solid black;
}


.input-header{
	font-size: 20px;
	text-align: left;
}

.form-container{
	display: block;
	text-align: center;
}

.form-title{
	font-size: 35px;
	margin: 20px;
}

input[name="date"]{
	color: #777;
	background: #DCDCDC;
}

input[placeholder="submit"]:hover{
	border: 1px solid #999;
	color: white;
	background: black;
}

.drinks{
	text-align:left;
}

textarea{
	margin: 0px;
	border-radius: 10px;
	border: 1px solid #999;
	margin-right: 10px;
	font-size: 15px;

}

.today-results-container{
	display: block;
	margin: auto;
	width: 1000px;
}

.results-header{
	display: block;
	margin: 10px 0px;
	margin-left: 175px;
	width: 632px;
}

.block{
	display: inline-block;
	width: 200px;
	height: 100px; 
}

.block-header{
	display: inline-block;
	width: 200px;
	height: 100px; 
}

.more-detail{
	text-align:left;
	margin-left: 175px;
	width: 500px;
	height: 100px;
	display: block;
}










