input{
	
	display: block;
	height: 25px;
	width: 300px;
	padding: 0px 5px;
	margin: 10px 0px;
	border-radius: 10px;
	font-size: 15px;
}
form{
	display: inline-block;
	margin: auto;
}

select{
	padding: 5px;
	height: 25px;
	width: 300px;
	margin: 10px 0px;
	margin-right: 5px;
	border: 1px solid #777;

}

form{
	border-bottom: 2px solid black;
}

tr th, tr td{
	width: 75px;
	height: 15px;
	padding: 5px;
}

tr th{
	background: #777;
}

tr td{
	background: #A8A8A8;
}


.input-header{
	font-size: 20px;
	text-align: left;
}

.form-container{
	display: block;
	text-align: center;
	height: 100%;
	width: 100%;
}

.form-title{
	font-size: 35px;
	margin: 20px;
}

input[name="date"]{
	color: #777;
	background: #DCDCDC;
}

input[placeholder="submit"]:hover{
	border: 1px solid #999;
	color: white;
	background: black;
}

.drinks{
	text-align:left;
}

textarea{
	margin: 0px;
	border-radius: 10px;
	border: 1px solid #999;
	margin-right: 10px;
	font-size: 15px;

}

.table{
	margin-left: 175px;
}

.today-results-container{
	display: block;
	margin: auto;
	width: 1000px;
	height: auto;
}

.results-header{
	display: block;
	margin: 10px 0px;
	margin-left: 175px;
	width: 632px;
	text-align: left;
}

.block{
	display: inline-block;
	width: 200px;
	height: 100px; 
}

.block-header{
	display: inline-block;
	width: 200px;
	height: 100px; 
}

.more-detail{
	text-align:left;
	margin-left: 175px;
	margin-top: 10px;
	width: 434px;
	height: 100%;
	min-height: 200px;
	background: #e4e4e4;
	word-wrap: break-word;
	display: block;
}

.notesTitle{
	font-weight: bold;
	margin: 10px;
	padding-top: 10px;
}

#workoutDetail, #foodDetail{
	margin: 10px;
	padding-top: 10px;	
}

.input-split{
	float: left;
}








