html{
	background: grey;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
	height: 50px;
}

ul{
	margin: 0px;
	padding: 0px;
}

.item a{
	color: white;
}


.app-wrapper{
	margin: 0 auto;; 
	background: orange;
	height: 2000px;
	width: 100%;
}

.header{
	height: 150px;
	background: grey;
	text-align: center;
	vertical-align: center;
	line-height: 80px;
	font-family: "Avenir Next", Roboto, sans-serf; 
}

.header .nav{
	height: 50px;
}

.header .nav .item{
	font-size: 20px;
	display: inline-block;
	padding: 0px 5px;
	float: left;
}

.item a:hover{
	background-color: black;
}

.item a:active{
	color: FireBrick;


}


.item .selected{
	background-color: black;

}

.header .title{
	font-size: 40px;
	color: white;
}

.content, .footer{
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}


.content{
	height: 1800px;
	text-align: center;
	padding: 20px;

}

.clearfix:after{
	content: "alex";
	visibility: hidden;
	clear: both;
}

.footer{
	height: 200px;
	background: black;
	color: white;

}

i:hover{
	background: lightgray;
}

.icon{
	position: absolute;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	font-size: 50px;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	border: 3px solid #fff;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	background: url('/barbell.png');
}


