html{
	background: grey;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
	height: 50px;
}

ul{
	margin: 0px;
	padding: 0px;
}

.item a{
	color: white;
}


.app-wrapper{
	margin: 0 auto;
	background: #ffdb99;
	height: 1050px;
	width: 100%;
}

.header{
	height: 150px;
	background: grey;
	text-align: center;
	vertical-align: center;
	line-height: 80px;
	font-family: "Avenir Next", Roboto, sans-serf; 
}

.header .nav{
	height: 50px;
}

.header .nav .item{
	font-size: 25px;
	display: inline-block;
	padding: 0px 5px;
}

.item a:hover{
	background-color: black;
}

.item a:active{
	color: FireBrick;
}


.item .selected{
	background-color: black;

}

.header .title{
	font-size: 50px;
	color: white;
}

.content, .footer{
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.smooth{
	border-radius: 12px;
  	box-shadow: 0 0 0 5px gray;
}

.content{
	height: 700px;
	text-align: center;
	padding: 20px;
}

.footer{
	height: 200px;
	padding: 10px;
	background: black;
	color: white;

}

.home-button:hover{
	background: lightgray;
}

.pillar{
	font-size: 32px;
}

.picture{
	width: 50%
}

.symbol{
	font-size: 35px;
}

.symbol-img{
	height: 35px;
	width: 35px;
}

.pillar-container{
	padding: 30px 0px;
}

.icon{
	position: absolute;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	font-size: 50px;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	border: 3px solid #fff;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	background: url('/barbell.png');
}

.right{
	float: right;
}

.left{
	float: left;
}

