.picture{
	width: auto;
}
.profile-picture{
	float: left;
	font-size: 50px;
	width: 150px;
	height: 150px;
	border-radius: 10px;
	border: 3px solid #fff;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	box-sizing: border-box;
	
}

.img-wrapper:after{
	content: "alex";
	visibility: hidden;
	clear: both;
	display: block;
	height: 0px;
}

.profile-information{
	display: block;
	height: 50px;
	text-align: left;
	width: auto;
	background: orange;

}

.title, .field{
	display: inline-block;
}

.field-container{
	text-align: left;
	display: block;
}

.profile-container{
	display: inline-block;
	float: left;
	width: 50%;
}


.profile-content-container-right{
	width: 50%;
	height: 200px;
	float: right;
	background: slategray;
}

.metrics{
	display: inline-block;
	width: 50%;
	height: 300px;
	background: lightblue;

}

.graph{
	display: inline-block;
	width: 50%;
	height: 300px;
	background: seagreen;
}

.profile-page-container:after{
	content: 'alex';
	line-height: 0px;
	display: block;
	visibility: hidden;
	clear: both;
}

